language: php

sudo: false

notifications:
  email:
    on_success: never
    on_failure: change
services:
    - mysql
php:
    - 7.2
    - 7.3
env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1
    - WP_VERSION=4.8 WP_MULTISITE=0
    - WP_VERSION=4.8 WP_MULTISITE=1
matrix:
    include:
       - php: 7.2
         env: WP_VERSION=latest WP_MULTISITE=0 TEST_GROUP=--group=uninstall
       - php: 7.2
         env: WP_VERSION=latest WP_MULTISITE=1 TEST_GROUP=--group=uninstall
before_script:
  - composer require --dev phpunit/phpunit:\<6.0
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION 

script: vendor/bin/phpunit $PHPUNIT_FLAGS $TEST_GROUP 

after_script:
  # upload coverage.xml file to Coveralls to analyze it
  # minimal required coverage is set to 80+ %
  - |
    if [[ $PHPUNIT_FLAGS != "" ]]; then
      wget https://github.com/satooshi/php-coveralls/releases/download/v1.0.1/coveralls.phar
      php coveralls.phar --verbose
    fi
